@model  IEnumerable<SportsStoreApp.MVC.Domain.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Product</h1>

<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th class="NumericCol">Price</th>
        <th>Actions</th>
    </tr>
    @foreach(var p in Model)
    {
    <tr>
    <td>@p.ProductId</td>
    <td>@Html.ActionLink(p.Name,"Edit",new{p.ProductId})</td>
    <td class="NumericCol">@p.Price.ToString("c")</td>
        <td>
            @using (Html.BeginForm("Delete", "Admin"))
            {
                @Html.Hidden("ProductId", p.ProductId);
                <input type="submit" value="Delete"/>
            }
        </td>
    </tr>
    }
</table>

<p>@Html.ActionLink("Create a new product","Create")</p>
